---
import Layout from '../../layouts/Layout.astro'
import FrontDate from '../../modules/posts/components/FrontDate.astro'
import BackArrow from '../../modules/shared/components/BackArrow.astro'
import type { FrontMatter } from '../../modules/shared/types/frontmatter'

export const getStaticPaths = async () => {
  const posts = import.meta.glob('../../content/posts/**/*.md', { eager: true })

  return Object.entries(posts).map(([filePath, post]: [string, any]) => {
    const slug = filePath.replace('../../content/posts/', '').replace('.md', '').trim()

    return {
      params: { slug },
      props: { post },
    }
  })
}

const { post } = Astro.props

const frontmatter: FrontMatter = post.frontmatter
const Content = post.Content

const description = `Mis notas sobre ${frontmatter.title}.`
const keywords = frontmatter.keywords!.join(', ')
---

<Layout 
  title={frontmatter.title}
  description={description}
  keywords={keywords}
>
  <div class="container mx-auto px-4 max-w-3xl py-12">
    <BackArrow text="Volver al inicio" href="/" />
    <article class="
      prose
      dark:prose-invert
      prose-headings:text-primary
      prose-a:text-accent
      max-w-none
    ">
      <h1 class="text-4xl font-bold text-primary mb-4">
        {frontmatter.title.toUpperCase()}
      </h1>
      <div class='text-sm text-muted-foreground mb-8'>
        <FrontDate date={frontmatter.date} />
      </div>
      <Content />
    </article>
  </div>
</Layout>
